<template>
  <div class="app-wrapper" :class="{ show: activated }">
    <div class="app">
      <div class="header">
        <span class="title">iGallery</span>
        <div @click="$emit('hide-gallery')">×</div>
      </div>
      <main>
        <file-browser
          :tinymce="tinymce"
          :api_url="tinymce.settings.api_base_url"
          @add-images="addImages"
        ></file-browser>
        <gallery-editor
          :tinymce="tinymce"
          :api_url="tinymce.settings.api_base_url"
          :images="images"
          :editinggallerytype="editinggallerytype"
          @remove-image="removeImage"
          @hide-gallery="$emit('hide-gallery')"
        ></gallery-editor>
      </main>
    </div>
  </div>
</template>

<script>
module.exports = {
  components: {
    "file-browser": httpVueLoader(
      tinymce.settings.plugin_base_url + "/igallery/FileBrowser.vue"
    ),
    "gallery-editor": httpVueLoader(
      tinymce.settings.plugin_base_url + "/igallery/GalleryEditor.vue"
    ),
  },
  props: ["tinymce", "activated", "images", "editinggallerytype"],
  data() {
    //return { images: [] };
  },
  mounted() {
    //console.log(this.tinymce);
    //console.log(this.activated);
  },
  methods: {
    addImages(images) {
      for (var image of images) {
        this.images.push({ ...image });
      }
    },
    removeImage(index) {
      this.images.splice(index, 1);
    },
  },
};
</script>

<style scoped>
.app-wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: none;
}
.app-wrapper.show {
  display: block;
}
.app {
  background: #fff;
  border: 2px solid #777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  height: 70%;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 8px;
}
@media only screen and (max-width: 1024px) {
  .app {
    width: 90% !important;
  }
}
.app .header {
  position: relative;
  border-bottom: 1px solid #aaa;
  padding-left: 1rem;
  height: 4.5rem;
}
.app .header .title {
  font-size: 18px;
  height: 4.5rem;
  display: inline-block;
  line-height: 4.5rem;
}
.app .header div {
  font-size: 32px;
  font-weight: bold;
  position: absolute;
  right: 1rem;
  top: -0.2rem;
  opacity: 0.5;
  cursor: pointer;
}
.app .header div:hover {
  opacity: 1;
}
.app main {
  margin: 1rem;
  overflow: auto;
  height: calc(100% - 90px - 16px);
}
.gbtn {
  padding: 1rem 1.5rem;
  background: #4a6;
  color: #fff;
  border-radius: 4px;
  display: inline-block;
  cursor: pointer;
}
.gbtn:hover {
  background: #395;
}
.gbtn.disabled {
  cursor: default;
  background: #aaa;
}
h3 {
  background: #fafafa;
  padding: 1rem 0.5rem;
  margin-top: 5rem;
}
.mt-0 {
  margin-top: 0;
}
</style>