<template>
  <div>
    <h3 class="mt-0">1. Add files to gallery</h3>
    <div class="toolbar">
      <div class="fieldset">
        Limit:
        <select v-model="limit">
          <option :value="10">10</option>
          <option :value="20">20</option>
          <option :value="50">50</option>
          <option :value="100">100</option>
        </select>
        <div
          class="inline-block"
          v-if="Math.floor(foundedFilesCount / limit) > 0"
        >
          &nbsp;Page:
          <div class="pager">
            <a
              href="#"
              class="pager-number"
              :class="{
                active: page * limit == start,
              }"
              v-for="page in pages"
              :key="page"
              @click.prevent="paginate(page)"
              >{{ page + 1 }}</a
            >
            /{{ Math.ceil(foundedFilesCount / limit) }}
          </div>
        </div>
      </div>
      <div class="fieldset">
        Sort:
        <select v-model="sortId">
          >
          <option v-for="sort of sortType" :key="sort.id" :value="sort.id">
            {{ sort.name }}
          </option>
        </select>
        Search:
        <input v-model="search" />
      </div>
      <div
        class="gbtn"
        :class="{ disabled: selectedImages.length == 0 }"
        @click="addImages"
      >
        Add images to gallery
      </div>
    </div>
    <div>
      <div
        v-for="image of images"
        :key="image.id"
        class="file"
        :class="{ selected: isSelected(image) }"
        @click="select(image)"
      >
        <div
          class="image"
          :style="{
            backgroundImage: 'url(' + getThumbnailUrl(image) + ')',
          }"
        ></div>
        <div class="image-name" :title="image.title || image.name">
          {{ image.title || image.name }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * Debounce an input
 */
var debounce = function debounce(fn, delay) {
  var timeoutID = null;
  return function () {
    clearTimeout(timeoutID);
    var args = arguments;
    var that = this;
    timeoutID = setTimeout(function () {
      fn.apply(that, args);
    }, delay);
  };
};

/**
 * FileBrowser component
 */
module.exports = {
  props: ["tinymce", "api_url"],
  data() {
    return {
      images: [],
      selectedImages: [],
      search: "",
      limit: 50,
      foundedFilesCount: 0,
      pages: [],
      start: 0,
      sortId: 1,
      sortType: [
        {
          id: 1,
          name: "Most recent uploads",
          param: "_sort=created_at:DESC&",
        },
        {
          id: 2,
          name: "Oldest uploads",
          param: "_sort=created_at:ASC&",
        },
        {
          id: 3,
          name: "Alphabetical order (A-Z)",
          param: "_sort=name:ASC&",
        },
        {
          id: 4,
          name: "Reverse alphabetical order (Z-A)",
          param: "_sort=name:DESC&",
        },
        {
          id: 5,
          name: "The biggest image",
          param: "_sort=size:ASC&",
        },
        {
          id: 6,
          name: "The smallest image",
          param: "_sort=size:DESC&",
        },
      ],
      urlParams: {
        sort: null,
        search: "",
        limit: 50,
        start: 0,
      },
    };
  },
  mounted() {
    this.urlParams.sort = this.sortType[0];
    this.getFiles();
  },

  watch: {
    search: debounce(function (newVal) {
      this.urlParams.search = newVal;
      this.urlParams.start = 0;
      this.getFiles();
    }, 500),
    sortId: function (newVal) {
      this.urlParams.sort = this.sortType.find(function (item) {
        return item.id == newVal;
      });
      this.getFiles();
    },
    limit: function (newVal) {
      this.urlParams.limit = newVal;
      this.getFiles();
    },
  },
  methods: {
    paginate(page) {
      this.start = page * this.limit;
      this.urlParams.start = this.start;
      this.getFiles();
    },
    addImages() {
      if (this.selectedImages.length) {
        var imgs = [];
        for (var i = 0; i < this.selectedImages.length; i++) {
          imgs.push({
            ...this.selectedImages[i],
            unique_id: `${i}-${Date.now()}`,
          });
        }
        this.$emit("add-images", imgs);
        this.selectedImages = [];
      }
    },
    select(image) {
      var index = this.selectedImages.findIndex(function (i) {
        return i.id == image.id;
      });
      if (index == -1) {
        this.selectedImages.push(image);
      } else {
        this.selectedImages.splice(index, 1);
      }
    },
    isSelected(image) {
      return this.selectedImages.some(function (i) {
        return i.id == image.id;
      });
    },
    getThumbnailUrl(image) {
      return (
        this.api_url +
        (image?.formats?.thumbnail?.url ||
          image?.formats?.small?.url ||
          image?.formats?.medium?.url ||
          image?.url)
      );
    },
    getFiles() {
      // build url from parameters
      var url = "?mime_contains=image/&";
      var params = this.urlParams;
      if (params.sort) {
        url += params.sort.param;
      }
      if (params.search) {
        //url += "title_contains=" + params.search + "&";
        url += "_where[_or][0][title_contains]=" + params.search + "&" + "_where[_or][1][name_contains]=" + params.search + "&";
      }

      // get media count
      axios.get(this.api_url + "/upload/files/count" + url).then(
        function (response) {
          if (response.status == 200) {
            this.foundedFilesCount = response.data;

            const pageCount = this.foundedFilesCount / this.limit;
            this.pages = [];
            for (var i = -2; i <= 2; i++) {
              var v = this.start > this.limit ? this.start / this.limit + i : i;
              if (v >= 0 && v < pageCount) {
                this.pages.push(v);
              }
            }
          }
        }.bind(this)
      );

      // add limit and start to query parameter
      url += `_limit=${this.urlParams.limit}&`;
      url += `_start=${this.urlParams.start}&`;

      // get files
      axios.get(this.api_url + "/upload/files" + url).then(
        function (response) {
          if (response.status == 200) {
            this.images = response.data;

            /// Testing
            /*this.selectedImages = this.images;
            this.addImages();
            this.selectedImages = this.images;
            this.addImages();*/
            ////

            //console.log(response.data);
          }
        }.bind(this)
      );
    },
  },
};
</script>

<style scoped>
.toolbar {
  margin-bottom: 1rem;
  position: sticky;
  top: -1px;
  z-index: 10;
  background: #fff;
}
.file {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 140px;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
  cursor: pointer;
  position: relative;
  border: 2px solid transparent;
}
.file .image {
  width: 100%;
  height: calc(100% - 20px);
  background-size: cover;
  background-position: center;
}
.file .image-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.file.selected {
  border: 2px solid #007eff;
}
.file.selected .image {
  margin: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 30px);
}
.file.selected .image-name {
  padding: 0px 5px;
}
.file.selected:before {
  content: "✓";
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 100;
  text-align: center;
  font-weight: bold;
  border: 1px solid #aaa;
  outline: 3px solid #fff;
}
input,
select {
  border: 1px solid #aaa;
  padding: 0.5rem 1rem;
}
.pager {
  display: inline-block;
}
.pager-number {
  padding: 0.5rem 1rem;
  background: #44aa66;
  color: #fff;
  text-decoration: none;
  border-right: 1px solid #339955;
}
.pager-number:first-child {
  border-radius: 4px 0 0 4px;
}
.pager-number:last-child {
  border-radius: 0 4px 4px 0;
}
.pager-number:hover {
  background: #339955;
}
.pager-number.active {
  background: #228844;
}
.fieldset {
  display: inline-block;
  padding: 0.8rem 0.5rem;
  border: 1px solid #dfdfdf;
  margin: 0.5rem 0.2rem;
  border-radius: 3px;
}
input,
select {
  border-radius: 3px;
}
.inline-block {
  display: inline-block;
}
</style>