<template>
  <div>
    <div>
      <div>
        <h3>2. Edit and sort selected images</h3>
        <div
          v-sortable="{
            onUpdate: onUpdateSortableList,
            animation: 150,
            handle: '.gallery-file-image',
          }"
        >
          <div
            v-for="(image, index) of images"
            :key="image.unique_id"
            class="file"
          >
            <div class="remove" @click="removeImage(index)">❌</div>
            <div
              class="image gallery-file-image"
              :style="{
                backgroundImage: 'url(' + getThumbnailUrl(image) + ')',
              }"
            ></div>
            <div class="file-footer">
              <input
                type="text"
                :value="image.author"
                placeholder="Author"
                @input="updateInputValue(index, 'author', $event.target.value)"
              />
              <input
                type="text"
                :value="image.title"
                placeholder="Title"
                @input="updateInputValue(index, 'title', $event.target.value)"
              />
              <input
                type="text"
                :value="image.alternativeText"
                placeholder="Alternative text"
                @input="
                  updateInputValue(
                    index,
                    'alternativeText',
                    $event.target.value
                  )
                "
              />
            </div>
          </div>
        </div>
      </div>

      <div>
        <h3>3. Select gallery type</h3>
        <div
          class="gallery-type"
          :class="{
            selected:
              selectedGalleryType && selectedGalleryType.id == galleryType.id,
          }"
          v-for="galleryType of galleryTypes"
          :key="galleryType.id"
          @click="selectGalleryType(galleryType)"
        >
          <img
            :src="
              tinymce.settings.plugin_base_url +
              '/igallery/assets/images/galleries.png'
            "
            :style="{
              objectPosition: galleryType.offset + 'px 0',
            }"
          />
          <div>{{ galleryType.name }}</div>
        </div>
      </div>

      <div
        class="gbtn mt-3"
        :class="{ disabled: images.length == 0 }"
        @click="insertGallery"
      >
        {{ editinggallerytype ? "Update gallery" : "Insert gallery" }}
      </div>
    </div>
  </div>
</template>

<script>
/**
 * Gallery Editor component
 */
module.exports = {
  props: ["tinymce", "api_url", "images", "editinggallerytype"],
  data() {
    return {
      images: [],
      galleryTypes: [
        // { id: 1, name: "image", offset: 0 },
        { id: 2, name: "gallery", offset: -64 },
        { id: 3, name: "slideshow", offset: -128 },
        { id: 4, name: "grid", offset: -192 },
      ],
      selectedGalleryType: null,
    };
  },
  mounted() {
    this.selectedGalleryType = this.galleryTypes[2];
  },

  watch: {
    editinggallerytype: function (id) {
      if (id != null) {
        this.selectedGalleryType = this.galleryTypes.find((gt) => gt.id == id);
      }
    },
  },
  methods: {
    removeImage(index) {
      this.$emit("remove-image", index);
    },
    selectGalleryType(galleryType) {
      this.selectedGalleryType = galleryType;
    },
    onUpdateSortableList(event) {
      this.images.splice(
        event.newIndex,
        0,
        this.images.splice(event.oldIndex, 1)[0]
      );
    },
    updateInputValue(index, key, value) {
      this.images[index][key] = value;
      //this.$emit("input", { ...this.value, [key]: value });
    },
    getThumbnailUrl(image, withApi = true) {
      return (
        (withApi ? this.api_url : "") +
        (image?.formats?.thumbnail?.url ||
          image?.formats?.small?.url ||
          image?.formats?.medium?.url ||
          image?.url)
      );
    },
    getThumbnailSize(image) {
      return {
        width:
          image?.thumbwidth ||
          image?.formats?.thumbnail?.width ||
          image?.formats?.small?.width ||
          image?.formats?.medium?.width ||
          156,
        height:
          image?.thumbheight ||
          image?.formats?.thumbnail?.height ||
          image?.formats?.small?.height ||
          image?.formats?.medium?.height ||
          156,
      };
    },
    imagesToAttribute() {
      let result = [];
      for (const image of this.images) {
        const thumbSize = this.getThumbnailSize(image);
        result.push({
          name: image.author,
          url: image.url,
          thumbnail: this.getThumbnailUrl(image, false),
          thumbwidth: thumbSize.width,
          thumbheight: thumbSize.height,
          alternativeText: image.alternativeText,
          caption: image.title,
          width: image.width,
          height: image.height,
        });
      }
      return encodeURI(JSON.stringify(result));
    },
    insertGallery() {
      if (this.images.length) {
        var html = "";
        if (this.selectedGalleryType.id == 1) {
          for (var image of this.images) {
            const bestSize =
              image.formats.large ||
              image.formats.medium ||
              image.formats.small ||
              image;
            html += `<figure contenteditable="false" class="igallery-image igallery-type-1 figure"><img class="figure-img img-fluid" loading="lazy" width="${
              bestSize?.width
            }" height="${bestSize?.height}" alt="${
              bestSize.alternativeText || ""
            }" src="${this.api_url + bestSize.url}" /><figcaption>
              ${image.title ? "<p>" + image.title + "</p>" : ""}
              ${image.author ? "<p>" + image.author + "</p>" : ""}
            </figcaption></figure>`;
          }
        } else {
          html = `<div class="igallery gallery-type-${
            this.selectedGalleryType.id
          }" contenteditable="false" data-gtype="${
            this.selectedGalleryType.id
          }" data-data="${this.imagesToAttribute()}">`;
          for (var image of this.images) {
            html += `<img src="${this.getThumbnailUrl(image, true)}" />`;
          }
          html += `</div>`;
        }
        this.tinymce.insertContent(html);
        this.$emit("hide-gallery");
      }
    },
  },
};
</script>

<style scoped>
.file {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 140px;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
  border: 2px solid transparent;
  text-align: center;
}
.file .image {
  width: 100%;
  height: calc(100% - 20px);
  background-size: cover;
  background-position: center;
}
.file .remove {
  display: block;
  width: 24px;
  height: 24px;
  background: #fff;
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: 100;
  text-align: center;
  font-weight: bold;
  border: 1px solid #aaa;
  outline: 3px solid #fff;
  opacity: 0.5;
  cursor: pointer;
}
.file .remove:hover {
  opacity: 1;
}
.file .file-footer {
  width: calc(100% - 6px);
}
.file .file-footer > * {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 0;
  border-bottom: none;
}
.file .file-footer > *:last-child {
  border-bottom: 1px solid #aaa;
}
.gallery-type {
  margin: 0.5rem;
  display: inline-block;
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 3px;
  border: 2px solid transparent;
  text-align: center;
}
.gallery-type img {
  width: 64px;
  height: 64px;
  object-fit: none;
}
.gallery-type.selected {
  border: 2px solid #007eff;
}
.gallery-type div {
  text-align: center;
}
.mt-3 {
  margin-top: 3rem;
}
</style>
