.fpe strong {
  width: 4rem;
}
.fpe .highlight section {
  background: #a5bedc !important;
}

.fpe .search-result {
  background: #fff;
  padding: 1rem;
  border: 1px solid #aaa;
  border-radius: 4px;
  margin-bottom: 3rem;
}
.fpe .search-result > * {
  background: #e0e0e0;
  margin: 0.5rem 0;
  padding: 0.5rem;
  cursor: pointer;
}
.fpe .search-result > *:hover {
  background: #a0a0a0;
}
.fpe .sortable-item:hover section {
  background-color: #c5c5c5 !important;
}
.fpe .not-showed {
  opacity: 0.6;
}
.fpe .not-showed button {
  display: none;
}

.fpe .separator {
  margin-top: 5rem !important;
}
/*
.fpe .separator:before {
  content: "Címlap 2";
  display: block;
}*/
/*
.separator.sortable-chosen:before {
  display: none;
}*/
/*
.fpe .highlight.separator:before {
  display: none;
}
*/
/*
.separator.sortable-chosen {
  margin-top: 0rem;
}
.sortable-chosen {
  outline: 2px solid red;
}
*/

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 4px;
  border: 4px solid #007eff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #007eff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
